<!-- Modal -->
<div class="modal fade" id="company-user-detail-modal" tabindex="-1" aria-labelledby="company-detail-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="company-detail-modal-label"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id = 'company-user-modal-body'>
        </div>
        <div class="modal-footer">
          {% comment %} <a role="button" class = "btn btn-primary" id = "detail_page_btn" target = "_blank">View Detail Page</a> {% endcomment %}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>