{% extends 'accounts/password/base.html' %}
{% block title %}
<title>AS3 International Dashboard</title>
{% endblock title %}
{% block page_content %}
<!--Reset Password-->
<h2 class="auth-title">Forgot Password</h2>
<p class="auth-subtitle mb-3">Input your email and we will send you reset password link.</p>
{% comment %} <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a
	new one.</p> {% endcomment %}
{% for error in password_reset_form.email.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
	<p>{{ error }}</p>
</div>
{% endfor %}

<form method="POST">
	{% csrf_token %}
	<div class="form-group position-relative has-icon-left mb-4">
		{{ password_reset_form.email }}
		<div class="form-control-icon">
			<i class="bi bi-envelope"></i>
		</div>
	</div>
	<button class="btn btn-primary btn-block btn-lg shadow-lg mt-3" type="submit">Send</button>
</form>
<div class="text-center mt-5 fs-5">
	<p class='text-gray-200'>Remember your account? <a href="{% url 'account:login' %}" class="font-bold">Log
			in</a>.
	</p>
</div>

{% endblock page_content %}

{% block js %}

<script>
	$("#id_email").addClass("form-control form-control-xl")
	$("#id_email").attr("placeholder", "Enter your email")
</script>
{% endblock js %}