<!--BorderLess Modal Modal -->
<div class="modal fade text-left modal-borderless " id="heatmap-modal" tabindex="-1"
role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                <span class="language-en">
                    THE SECURITY DRIVER UNIVERSE
                </span>
                <span class="language-es">
                    Universo de Conductores de Seguridad
                </span>
                
            </h5>
            <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                aria-label="Close">
                <i data-feather="x"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class = "language-en">
                This graph allows us to compare this group to a universal average; this average is taken from every student who has
                undergone a similar course anywhere in the world where AS3 Driver Training has operations and is an
                ever-changing number
            </div>
            <div class = "language-es">
                Este gráfico nos permite comparar este grupo con un promedio universal; este promedio se toma de cada estudiante que tiene
                realizado un curso similar en cualquier parte del mundo donde AS3 Driver Training tenga operaciones y sea un
                número siempre cambiante
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">
                <i class="bx bx-x d-block d-sm-none"></i>
                <span class="d-none d-sm-block">
                    <span class="language-en">
                        Close
                    </span>
                    <span class="language-es">
                        Cerrar
                    </span>
                </span>
            </button>
        </div>
    </div>
</div>
</div>