<!--BorderLess Modal Modal -->
<div class="modal fade text-left modal-borderless " id="introduction-modal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="language-en">
                        introduction
                    </span>
                    <span class="language-es">
                        Introducción
                    </span>
                </h5>
                <button type="button" class="close rounded-pill" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="language-en">
                    <p>
                        The purpose of the group report is to understand individual and group proficiency, locate your
                        team's
                        most proficient assets, as well as their ability to perform under stress. This tool has proven
                        valuable for
                        asset allocation within a team and to determine areas of improvement and risks.
                        Each course is designed upon a certain skill level and is gradually adapted to create new skills
                        based
                        on the individual's experience, from the very basic to the most advanced, measuring each step
                        scientifically.
                    </p>
                    <p>
                        The level of difficulty of the training must constantly be increasing, keeping the hard skills
                        up to date,
                        creating new ones, and increasing the stress tolerance of each student through exposure and
                        inoculation.
                    </p>
                    <p>
                        This report considers the performance of each student, the group, and a general standard to
                        which
                        we can compare performance.
                    </p>
                    <p>
                        The ability to respond effectively to pressure and stress is critical. How each student responds
                        will vary;
                        some people thrive on it and perform better when under pressure, others may panic or become
                        ineffective. Driving under pressure involves dealing with constraints outside of the driver's
                        control
                        while operating the motor vehicle at above 80% of its physical capability through an
                        ever-changing
                        environment; this requires creating and maintaining a set of perishable skills that can only be
                        obtained through exposure and repetition.
                    </p>
                </div>
                <div class="language-es">
                    <p>
                        El propósito del informe general es comprender la competencia individual y grupal, ubicar los
                        activos más competentes de su equipo, así como su capacidad para desempeñarse bajo estrés. Esta
                        herramienta ha demostrado ser valiosa para la asignación de activos dentro de un equipo y para
                        determinar áreas de mejora y riesgos.
                    </p>
                    <p>
                        Cada curso está diseñado sobre un cierto nivel de habilidad y se adapta gradualmente para crear
                        nuevas habilidades basadas en la experiencia del individuo, desde lo más básico hasta lo más
                        avanzado, midiendo cada paso científicamente.
                    </p>
                    <p>
                        El nivel de dificultad del entrenamiento debe aumentar constantemente, manteniendo las
                        habilidades
                        duras actualizadas, creando otras nuevas y aumentando la tolerancia al estrés de cada estudiante
                        a
                        través de la exposición y la inoculación de estrés.
                    </p>
                    <p>
                        Este informe considera el desempeño de cada estudiante, el grupo y un estándar general con el
                        cual
                        podemos comparar a todos los participantes. </p>
                    <p>
                        La capacidad de responder eficazmente bajo presión y estrés es fundamental. La forma en que cada
                        estudiante responda variará; algunas personas mejoran y se desempeñan mejor cuando están bajo
                        presión, otras pueden entrar en pánico o bloquearse. Conducir bajo presión implica lidiar con
                        restricciones fuera del control del conductor mientras opera el vehículo a más del 80 % de su
                        capacidad física en un entorno en constante cambio; esto requiere crear y mantener un conjunto
                        de
                        habilidades perecederas que solo se pueden obtener a través de la exposición y la repetición.
                    </p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block"> 
                        <span class="language-en">
                            Close
                        </span>
                        <span class="language-es">
                            Cerrar
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>