<!--BorderLess Modal Modal -->
<div class="modal fade text-left modal-borderless " id="lane-change-modal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">LANE CHANGE</h5>
                <button type="button" class="close rounded-pill" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="language-en">
                    <p>
                        Based on the research published by the Society of Automotive Engineers, in this exercise,
                        students
                        are pushed to the limits of cognitive reaction times through an electronically operated signal
                        system
                        that allows them little room for error. The Barricade requires situational awareness and
                        decision-making while using all the skills acquired in the Slalom, adding a psychological factor
                        as the
                        speed through the exercise is slightly increased.
                    </p>
                    <p>
                        Just as the Slalom, this exercise requires skill as it is graded at 80% of the car's lateral
                        acceleration
                        capability and requires the same speed consistency as stated above.
                    </p>
                </div>
                <div class="language-es">
                    <p>
                        Basado en la investigación publicada por la Sociedad de Ingenieros Automotrices, en este
                        ejercicio, los estudiantes son llevados al límite de los tiempos
                        de reacción cognitiva a través de un sistema de señales operado electrónicamente que les permite
                        poco margen de error. La barricada requiere de conciencia situacional
                        y toma de decisiones mientras se utilizan todas las habilidades adquiridas en el slalom,
                        añadiendo un factor psicológico ya que la velocidad a través del ejercicio aumenta ligeramente.
                    </p>
                    <p>
                        Al igual que el Slalom, este ejercicio requiere habilidad ya que se califica al 80% de la
                        capacidad de aceleración lateral del automóvil
                        y requiere la misma consistencia de velocidad que se indicó anteriormente.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block"> <span class="language-en">
                            Close
                        </span>
                        <span class="language-es">
                            Cerrar
                        </span></span>
                </button>
            </div>
        </div>
    </div>
</div>