<!--BorderLess Modal Modal -->
<div class="modal fade text-left modal-borderless " id="performers-modal" tabindex="-1"
role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Performers</h5>
            <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                aria-label="Close">
                <i data-feather="x"></i>
            </button>
        </div>
        <div class="modal-body">
            <p>This section includes Top and Low Performers for the company "{{company.name}}"</p>
            <h5>Top Performers</h5>
            <p>
                This are your team's top performers for the period specified on the cover of this report, all names included in this list must have achieved the minimum of 80% contol over the car's capabilities.
            </p>
            <h5>Low Performers</h5>
            <p>
                This are your team's low performers for this period, these include the students that might need some more practice or that were not able to achieve the minimum of 80% contol over the car's capabilities.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">
                <i class="bx bx-x d-block d-sm-none"></i>
                <span class="d-none d-sm-block">
                    <span class="language-en">
                        Close
                    </span>
                    <span class="language-es">
                        Cerrar
                    </span>
                </span>
            </button>
        </div>
    </div>
</div>
</div>