<!--BorderLess Modal Modal -->
<div class="modal fade text-left modal-borderless " id="scatter-modal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="language-en">Final Excercise: Peformance vs Control </span>
                    <span class="language-es">Ejercicio final: DESEMPEÑO vs control</span>
                </h5>
                <button type="button" class="close rounded-pill" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="language-en">
                    <p>
                        A multidisciplinary exercise encompasses all the skills acquired throughout the course; it is
                        measured
                        in several ways. Some additional factors are added for stress inoculation, depending on the
                        group's
                        skill and experience, increasing the difficulty level accordingly.
                        <br>
                        The route includes four basic tests which will define the experience, skill, and self-control
                        under
                        stress
                        of each student; we measure:
                    </p>
                    <br>

                    <p>
                        <b>Time:</b> This might be the most subjective of all tests. It determines the experience and
                        ease
                        of each
                        student against the average of 4 runs set by professional drivers through the exercise.
                        <br>
                        <br>
                        A passing grade requires achieving over 80% of the exercise's ideal, yet this is only one of
                        four
                        grades;
                        the rest include:
                    </p>
                    <br>

                    <p>
                        <b>Slalom and Barricade:</b> Each student's performance through these exercises should clock
                        above
                        80%
                        of the Vehicle's Capability on the onboard computers, as they did during practice.
                    </p>
                    <br>

                    <p>
                        <b>Reverse:</b> Te final exercise starts with reverse serpentine; each student must negotiate
                        this
                        section in
                        under 20% of their total time, without hitting any cones, the amount of time invested in reverse
                        is
                        represented by the size of the circles in the graph, a smaller circle means better performance.
                    </p>

                </div>
                <div class="language-es">
                    <p>
                        Un ejercicio multidisciplinario que engloba todas las competencias adquiridas a lo largo del
                        curso; se mide de varias maneras. Se agregan algunos factores adicionales para la inoculación de
                        estrés, dependiendo de la habilidad y experiencia del grupo, aumentando el nivel de dificultad
                        en consecuencia.<br />
                        La ruta incluye cuatro pruebas básicas que definirán la experiencia, habilidad y autocontrol
                        bajo estrés de cada alumno; medimos:
                    </p>
                    <br>

                    <p>
                        <b>Tiempo:</b> Esta podría ser la más subjetiva de todas las pruebas. Determina la
                        experiencia y soltura de cada alumno frente a la media de 4 recorridos establecidos por nuestros
                        conductores profesionales a través del ejercicio. <br />
                        <br />
                        Una calificación aprobatoria requiere lograr más del 80% del ideal del ejercicio, pero esta es
                        solo una de cuatro calificaciones; el resto incluye:
                    </p>
                    <br>

                    <p>
                        <b>Slalom y Barricada:</b> El desempeño de cada estudiante en estos ejercicios debe ser
                        superior al 80 % de la capacidad del vehículo, registrado en las computadoras de a bordo, como
                        lo hicieron durante la práctica previa.
                    </p>
                    <br>

                    <p>
                        <b>Reversa:</b> El último ejercicio comienza con un slalom en reversa; cada estudiante
                        debe recorrer esta sección en menos del 20% de su tiempo total, sin derribar ningún cono, la
                        cantidad de tiempo invertido en reversa está representada por el tamaño de los círculos en el
                        gráfico, un círculo más pequeño significa un mejor desempeño.
                    </p>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">
                        <span class="language-en">
                            Close
                        </span>
                        <span class="language-es">
                            Cerrar
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>