<!--BorderLess Modal Modal -->
<div class="modal fade text-left modal-borderless " id="slalom-modal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered -dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">SLALOM</h5>
                <button type="button" class="close rounded-pill" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="language-en">
                    <p>
                        The Slalom exercise may seem basic, but it is the most demanding of all activities. This test
                        creates a
                        consistent skill that involves a deep understanding of time/distance and hand/eye coordination.
                        Its
                        consistency allows us to measure it precisely to determine driver skill and focus areas; this is
                        the
                        basis
                        for everything we train in evasive driving.
                    </p>
                    <p>
                        The Slalom exercise requires that the student maintains a consistent speed above 80% of the
                        car's
                        lateral acceleration capability while negotiating through the turns. The students must perform
                        the
                        exercise without hitting cones and maintaining a constant speed (a 4 mile an hour variation will
                        invalidate the test); this involves learning where to look and anticipate turns while
                        controlling
                        the
                        throttle to counter the drag to sustain speed.
                    </p>
                </div>
                <div class="language-es">
                    <p>
                        El ejercicio de Slalom puede parecer básico, pero es la más exigente de todas las actividades.
                        Esta
                        prueba crea una habilidad constante que implica una comprensión profunda de la coordinación de
                        tiempo/distancia y mano/ojo. Su consistencia nos permite medirlo con precisión para determinar
                        la
                        habilidad del conductor y las áreas de enfoque; esta es la base de todo lo que entrenamos en
                        conducción evasiva. </p>
                    <p>
                        El ejercicio de Slalom requiere que el estudiante mantenga una velocidad constante por encima
                        del
                        80% de la capacidad de aceleración lateral del automóvil mientras realiza las curvas. Los
                        estudiantes deben realizar el ejercicio sin derribar conos y manteniendo una velocidad constante
                        (una variación de 4 millas por hora invalidará la prueba); esto implica aprender dónde mirar y
                        anticipar los giros mientras se controla el acelerador para contrarrestar la resistencia, y
                        mantener
                        la velocidad.
                    </p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block"> <span class="language-en">
                            Close
                        </span>
                        <span class="language-es">
                            Cerrar
                        </span></span>
                </button>
            </div>
        </div>
    </div>
</div>